<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$title$</title>
  <meta name="description" content="$description$">
  <meta property="og:title" content="$title$">
  <meta property="og:description" content="$description$">
  <meta property="article:published_time" content="$pubDate$">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav><a href="/">← Home</a></nav>
  <article>
    <header>
      <h1>$title$</h1>
      <time>$pubDate$</time>
    </header>
    <main>
      $body$
    </main>
    <footer>
      <a href="/">← Back</a>
    </footer>
  </article>
  <style>
   $highlighting-css$
  </style>
</body>
</html>
