<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>$title$</title>
		<meta name="description" content="$description$">
		<meta property="og:title" content="$title$">
		<meta property="og:description" content="$description$">
		<meta property="article:published_time" content="$pubDate$">
		<link rel="stylesheet" href="/css/main.css">
		<style>
			$highlighting-css$
		</style>
	</head>
	<body>
		<nav class="menu">
			<a href="/">Home</a>
			<a href="/lab">Lab</a>
			<a href="/rss.xml">RSS</a>
		</nav>
		<article>
			<header>
				<h1>$title$</h1>
				<time>$pubDate$</time>
			</header>
			<div>
				$body$
			</div>
			<footer>
				<a href="/">← Back</a>
			</footer>
		</article>
	</body>
</html>
